{% extends "layout.twig" %}
{% block body %}

	<div class="row">
		<div class="col-md-5">
			<div id="map"></div>
		</div>
		<div class="col-md-7">
			<div id="scroller">
			</div>
		</div>
	</div>
	
{% endblock %}