<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>{% block title %}HackSoton3{% endblock %}</title>

    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">

</head>

<body>

    <div class="container">

      <div class="masthead">
        <h3 class="text-muted">#HackSoton3</h3>
    </div>

    <p class="lead">
        Who is getting online today? <b>Welcome to the internet.</b>
    </p>

    {% block body %}
    {% endblock %}

    <div class="footer">
        <p>
            By <a href="https://twitter.com/phil_bennett">@phil_bennett</a>
             and <a href="https://twitter.com/adww_ww">@adw_ww</a>
             at <a href="https://twitter.com/hacksoton">@hacksoton</a>.
        </p>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="http://d3js.org/d3.v2.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.isotope.min.js"></script>

    <script src="//hacksoton.local:3001/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/scripts.js"></script>

</div>
</body>
</html>
